.productStyle {
    font-family: Montserrat;
}

.productTitle {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 36px;
    color: #FF6060;
    margin: 0px;
}
.productLocation {
    font-weight: 500;
    font-size: 18px;
}
.productTags {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 115px;
    font-weight: 700;
    font-size: 14px;
    color: #FFFFFF;
    background-color: #FF6060;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    margin-right: 10px;

}
.productCollapse {
    display: flex;
    justify-content: space-between;
}