.productStyle {
    font-family: Montserrat;
}

.productTitle {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 36px;
    color: #FF6060;
    margin: 0px;
}
.productLocation {
    font-weight: 500;
    font-size: 18px;
}
.productTags {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 150px;
    font-weight: 700;
    font-size: 14px;
    color: #FFFFFF;
    background-color: #FF6060;
    border-radius: 10px;
    text-align: center;
    margin-right: 10px;

}
.productTagsDiv {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    flex-flow: wrap;
}
.productHostDiv{
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: row-reverse;
}
.productHost {
    border-radius: 65px;
}
.productName{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    color: #FF6060;
    margin: 10px;
}
.productCollapse {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
}
.productAllDiv {
    display: flex;
    justify-content: space-between;
}
.productStar {
    display: flex;
    justify-content: flex-end;
    padding: 25px 10px;
}
@media (max-width: 767.98px) {
    .productTitle {
        font-size: 18px;
    }
    .productLocation {
        font-size: 14px;
    }
    .productTags {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 18px;
        width: 84px;
        font-weight: 700;
        font-size: 10px;
        color: #FFFFFF;
        background-color: #FF6060;
        border-radius: 10px;
        text-align: center;
        margin-right: 10px;
    
    }
    .productTagsDiv {
        display: flex;
        width: 100%;
        justify-content: flex-start;
        flex-flow: wrap;
    }
    .productHost {
        width: 32px;
    }
    .productAllDiv {
        display: contents;

    }
    .productHostStar {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    .productName{
        font-size: 12px;
        text-align: right;
    }
    .productStar {
        justify-content: flex-start;
        padding: 12px 22px;
    }
    .star{
        transform: scale(0.8);
    }
    .productCollapse {
        display: flex;
        justify-content: center;
        align-items: center;
        grid-gap: 10px;
        flex-direction: column;
        padding-bottom: 50px;
    }
    .productCollapse {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        grid-gap: 20px;
        padding-bottom: 0px;
    }
}