.bandeauxClassPropos {
    max-width: 1240px;
    position: relative;
}

.bandeauxClassPropos p{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 223px;
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 400;
    border-radius: 25px;
    background-image: url(/assets/IMG-BandeauxPropos.png);
}

.bandeauxClassPropos img{
    display: flex;
    border-radius: 25px;
    height: 223px;
    width: 100%;
}
@media (max-width: 767.98px) {
    .bandeauxClassPropos img{
        display: flex;
        border-radius: 25px;
        height: 111px;
        width: 100%;
    }
}