.styleCarrousselle {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1240px;
    max-height: 415px;
    padding-top: 50px;
    padding-bottom: 30px;
}

.arrowBack {
    position: absolute;
    top: 190px;
    left: 0px;
}

.arrowForward {
    position: absolute;
    top: 190px;
    right: 0px;
}

.imgCarrousselle {
    object-fit: cover;
    width: 100%;
    height: 415px;
    border-radius: 10px;

}
.count {
    font-family: Montserrat;
    color: white;
    position: absolute;
    bottom: 50px;
    left: 580px;
}
@media (max-width: 767.98px) {
    .styleCarrousselle {
        max-width: 335px;
        max-height: 255px;
        padding: 11px;
    }
    .imgCarrousselle {
        height: 255px;
    
    }
    .arrowForward {
        top: 85px;
    }
    .arrowBack {
        top: 84px;
    }
}