.squareImg {
    position: relative;
    background-color: #FF6060;
    max-width: 340px;
    max-height: 340px;
    border-radius: 10px;
}

.squareImg p{
    color: white;
    text-align: center;
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    text-shadow: 2px 2px 4px #000000;
}

.squareImg img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: #FF6060;
}

.boxOfSquare {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 60px;
    grid-row-gap: 30px;
    padding: 50px;
    background-color: #F6F6F6;
    border-radius: 25px;
    
}
